# Database
DATABASE_URL=postgresql://user:password@localhost:5432/the-big-polla

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DATA_SOURCE=prisma

# Cron protection
CRON_SECRET=your_cron_secret_here

# Football Data API (https://www.football-data.org/client/register)
FOOTBALL_API_KEY=your_token_here
